@import "tailwindcss";

:root {
  --background: #101D3D;
  --foreground: #94A3B8;
  --foreground-title: rgb(226 232 240);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-title: var(--foreground-title)
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
